OPENAI_API_KEY=  //This is a sample API KEY
SPREADSHEET_ID=  //This is a Sheet ID
DEV_MODE= // Set to "true" to enable dev mode, which runs serenium in browsers mode and limits to 5 leads per business